.app {
    width: 1000px; 
    margin: 40px auto 0;
    display: flex;
}

.left-navi {
    list-style-type: none;
    margin-right: 20px;
    padding-right: 40px;
    border-right: 1px solid #ccc;
}