.search-page {

   &__title {
       text-align: center;
       margin-top: 0;
   }

   &__result-area {
        display: flex;
   }

   &__result-right {
       margin-left:20px
   }
}
